# Hugo output
/public
/resources

# OS
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
Thumbs.db
.DS_Store

# Node
package-lock.json
/node_modules

# IDEs
.buildpath
.project
.settings/
.build/
.idea/

# Environment Variables / Keys
.env

# Vagrant
.vagrant/

# Applications
*.app
*.exe
*.war

# Package files
*.jar

# Compiled Java class files
*.class

# Log files
*.log
