{{ $current := . }}
<!doctype html>
<html lang='{{ .Site.LanguageCode | default "en-gb" }}' class='template-{{ .Params.template }}'>
	<head>
		{{ partial "head/head.html" . }}
	</head>
	<body>
		<div>
			{{ partial "header.html" . }}
			<main class='uk-margin-large-bottom'>
				{{ block "main" . }}{{ end }}
			</main>
			{{ partial "footer/footer.html" . }}
		</div>

		<div id="mmenu" class="uk-hidden">
			<ul>
				{{ $currentPage := . }}
				{{ range .Site.Menus.main }}
					{{ if .HasChildren }}
						<li class='{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} uk-active{{ end }}'>
							<a href="{{ .URL | relURL }}">
								{{ .Name }}
							</a>
							<ul id='nav-{{ .Identifier }}'>
								{{ range .Children }}
									<li>
										<a href="{{ .URL | relURL }}">{{ .Name }}</a>
									</li>
								{{ end }}
							</ul>
						</li>
					{{ else }}
						<li>
							<a href="{{ .URL | relURL }}">
								{{ .Name }}
							</a>
						</li>
					{{ end }}
				{{ end }}				
			</ul>
		</div>
		
		{{ partial "foot.html" . }}
	</body>
</html>