<footer class='footer uk-padding-large uk-padding-remove-horizontal'>
	<div class='uk-container uk-text-center'>

		<div class='legal uk-margin-small-bottom'>
			{{ $legal := where .Site.RegularPages ".Params.template" "legal" }}
			<ul>{{ range sort $legal ".Params.title" "desc" }}
				<li><a href={{ .RelPermalink }}>{{ .Name }}</a></li>
			{{ end }}</ul>
		</div>

		<div class='copyright uk-margin-small-bottom'>
			Copyright &copy; {{ now.Format "2006" }} {{ .Site.Params.clientName }}. All rights reserved.
		</div>
		
		<div class='watermark'>
			Website by <a title='NB Communication - Digital Marketing Agency' target='_blank' rel='noopener' href='https://www.nbcommunication.com/'>NB <img src='https://brand.nbcommunication.com/logo/web/nb.png' alt='NB Communication Ltd Logo' loading='lazy'></a>
		</div>
	</div>
</footer>